{{ if (eq .chezmoi.os "darwin") }}
" Mac only
set shell=/bin/zsh
{{ else }}
set shell=/usr/bin/zsh
{{ end }}
set shiftwidth=4
set tabstop=4
set expandtab
set textwidth=0
set autoindent
set hlsearch
set clipboard=unnamed
set number
syntax on

let mapleader="\<Space>"

noremap  <C-[> <esc>
noremap! <C-[> <esc>
inoremap <silent> jj <esc>

function! Cond(cond, ...)
  let opts = get(a:000, 0, {})
  return a:cond ? opts : extend(opts, { 'on': [], 'for': [] })
endfunction

call plug#begin()
" VSC like color theme
Plug 'ntk148v/vim-horizon', Cond(!exists('g:vscode'))
" File Tree Viewer
Plug 'lambdalisue/fern.vim', Cond(!exists('g:vscode'))

Plug 'junegunn/fzf', Cond(!exists('g:vscode'), {'do': { -> fzf#install() }})
Plug 'junegunn/fzf.vim', Cond(!exists('g:vscode'))
Plug 'tpope/vim-fugitive', Cond(!exists('g:vscode'))
Plug 'tpope/vim-commentary', Cond(!exists('g:vscode'))
Plug 'tpope/vim-surround'
Plug 'airblade/vim-gitgutter', Cond(!exists('g:vscode'))
Plug 'sheerun/vim-polyglot', Cond(!exists('g:vscode'))
Plug 'neoclide/coc.nvim', Cond(!exists('g:vscode'), {'branch': 'release'})
Plug 'easymotion/vim-easymotion', Cond(!exists('g:vscode'))
Plug 'asvetliakov/vim-easymotion', Cond(exists('g:vscode'), { 'as': 'vsc-easymotion' })
call plug#end()

if !exists('g:vscode')
  let g:fern#default_hidden = 1
  nnoremap <silent> <Leader>f :<C-u>Fern . -reveal=% -drawer -toggle -width=40<CR>

  let g:gitgutter_highlight_lines = 1

  set termguicolors
  colorscheme horizon
  let g:lightline = {}
  let g:lightline.colorscheme = 'horizon'

  map <C-g> :Gtags 
  map <C-h> :Gtags -f %<CR>
  map <C-j> :GtagsCursor<CR>
  map <C-n> :cn<CR>
  map <C-p> :cp<CR>

endif

