{{ if (eq .chezmoi.os "darwin") }}
# Mac only
set-option -g default-shell /bin/zsh
{{ else }}
set-option -g default-shell /usr/bin/zsh
{{ end }}

set-option -g display-panes-time 2000

set-option -gw mode-keys vi
bind-key -T copy-mode-vi 'v' send -X begin-selection
bind-key -T copy-mode-vi 'C-v' send -X rectangle-toggle
bind-key -T copy-mode-vi 'y' send -X copy-selection

bind-key C-r source-file ~/.tmux.conf
set-option -g prefix -
bind-key - send-prefix
bind-key Q confirm-before -p "respawn-pane? (y/others)" "respawn-pane -k -c '#{pane_current_path}'"

set-option -sg escape-time 10
set-option -g focus-events on

